---
import { SIDEBAR } from '../consts';
type Props = {
	currentPage: string;
};
const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
const sidebar = SIDEBAR;
---


<aside class="hidden lg:flex flex-col">
	<div class="overflow-y-auto fixed max-h-[calc(100%-50px)] no-scrollbar border-r px-8 border-stone-400 pt-12">
		<div class="">
			<ul class="nav-groups h-full overflow-y-auto" x-data="{ currentSection: 'Getting Started' }">
				{
					Object.entries(sidebar).map(([header, children]) => (
						<li>
							<div class="nav-group">
								<!-- cursor-pointer hover:-ml-0.5 transition-all duration-300 -->
								<h2 class="text-gray-800 font-bold text-sm -ml-4 mb-2 px-4" x-on:click={`currentSection = '${header}'`}>{header}</h2>
								<!--<ul x-show={`currentSection == '${header}'`} x-cloak>-->
								<ul>
									{children.map((child) => {
										const url = child.link;
										let fonts = '';
										if ('docs/'+url == currentPageMatch) {
											fonts = "font-light text-sm block py-1 px-4 text-[#EEAF3A] border-l-2 border-accent";
										} else {
											fonts = 'font-light text-sm block  py-1 px-4';
										}
										return (
											<li class="nav-link">
												<a class={fonts} href={'/docs/'+url}>
													{child.text}
												</a>
											</li>
										);
									})}
								</ul>
							</div>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</aside>

<style>
	.nav-groups > li + li {
		margin-top: 2rem;
	}

	.nav-groups > :first-child {
		padding-top: var(--doc-padding);
	}

	.nav-groups > :last-child {
		padding-bottom: 2rem;
		margin-bottom: var(--theme-navbar-height);
	}
</style>